.addProductBox{line-height: 46px;}
.addProductBox>a{line-height: 1.5;}
.addProductBox>label,.addSelect>label{width: 95px; display: inline-block;text-align: right; margin-right: 10px;font-size:13px;}
.addProductBox>input[type='text'],.addProductBox select,.addSelect>input{width:260px;height:30px;border:1px solid #ccc;padding-left: 10px;margin:0;border-radius:2px;}
.addSelect{display: inline-block;position: relative;}
.addSelect ul.addOption{position: absolute;right: 0; width: 260px;top: 41px;line-height: 35px;border: 1px solid #ccc;display: none;background: #fff;}
.addSelect ul.addOption li:not(:last-child):hover{background:#fff9df;}
.addSelect ul.addOption li{padding-left: 10px;}
.addSelect ul.addOption li:last-child{cursor: pointer;border-top:1px solid #ccc;}
.addSelect ul.addOption li:last-child i{padding-right: 10px;}
.addSelsctBox{display: none;}
.addSelLab,.addSelInp{display: inline-block;margin:60px auto;}
.addSelLab{font-size:13px;padding-right:10px;}
.addSelInp{height: 30px;width:200px;border: 1px solid #ccc;}
.spdRemarks{width: 632px; height: 80px;vertical-align: top;border: 1px solid #ccc;}
.addProductBox label.autoLab{width: auto;color:red;padding-left:10px;}
.card-box{width: 280px;height: 286px;border: 1px solid #ddd;padding: 0px;display:inline-block; margin:15px 15px 0 0;vertical-align: top;}
.card-box .card-box-top{clear: both;overflow: hidden;padding:0 10px;}
.card-box .card-box-top h4{font-size: 14px;font-weight: 400;color: #000;line-height:30px}
.card-box .card-box-top a{font-size: 13px;color: #000;line-height:30px}
.card-box .card-box-code{line-height: 35px; padding: 0 10px}
.card-box .card-box-code>label{font-size: 13px;padding-right: 5px;}
.card-box .card-box-code>input{width: 180px;height: 28px;border: 1px solid #ccc;border-radius:2px;margin:0;}
.card-box .card-box-pic{width: 166px;height: 224px;position: relative;}
.card-box .card-box-pic>label{width: 166px;height: 224px;display: inline-block;text-align:center;line-height:224px;font-size: 16px;cursor: pointer;}
.card-box .card-box-pic>img{display:inline-block;width:100%;height:100%;}
.card-box .card-box-inp>input{width: 100%;height: 28px;border: 1px solid #ccc;border-radius: 2px;}
.card-box .card-box-inp>p>span{line-height: 18px;}
 #showPic{text-align:center;}
#showPic  img{display:inline-block; width:300px;height:410px;}
input.validate_hidden { position:absolute; height:0; width:0; border:0; }
.smallImg .smallImg_cloBtn{z-index:88888;!important;}
.addIcon{font-size: 40px;color: #666;font-weight: 600;position: absolute;left: 110px;top: 60px;}
.mustIcon{color:red;padding-right:6px;}
